*{
    font-family:'Times New Roman', Times, serif;
    border: none;
    margin-left: 2rem;
}

h1{
    color:darkslategray;
}

h2{
    color:indigo;
}

table, th, td{
    border: 2px solid black;
    text-align: center;
    color:darkslategray;
    border-collapse: collapse;
}