#contact{
    overflow: hidden;
    width: 100vm;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 4rem;
}

.contactPageTitle{
    font-size: 3rem;
    font-weight: 600;
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
    margin-bottom: 1rem;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

/* .contactDiv {
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.name1, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.btnSubmit {
    background: white;
    border: none;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link1, .link2, .link3{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}

.link2{
    height: 2.5rem;
    width: 2.5rem;
}