#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-image: url('C:\Users\rushi\OneDrive\Desktop\REACT APPS\portfolio1\src\images\photo.jpg');
    background-size: 25rem;
    background-position: right;
    background-repeat: no-repeat;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}


.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.name {
    color: yellow;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.30rem;
    padding-top: 0.1rem;
    height: 1rem;
}

.bg {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

@media screen and (max-width:450px) {
    #intro{
        background-position: center;
    }
}